.Person {
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 2px;
  padding: 0.5em;
  width: 120px;
  height: 160px;
  background-color: white;
}

.Person:hover {
  zoom: 120%;
}

.Person-image img {
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
}

.Person-name, .Person-location {
  font-size: 10pt;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.Person-name {
  font-size: 10pt;
  font-weight: bold;
}

.Person-location {
  font-size: 9pt;
}